# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Vector databases
vector_store/
chroma.sqlite3
*.faiss
*.pkl

# PDF & Dataset files
data/pdf/
data/text_files/
backend/data/

# Jupyter
.ipynb_checkpoints/

# Environment configurations
.env

# OS junk
.DS_Store
Thumbs.db

# Large model files
models/

